<body>
  <div class="back" [ngStyle]="{'background-image': getUrl()}">
  <div class="wrapper" style="margin-left:7%;">
    <div style="display: inline-block;">
        <app-nav-menu></app-nav-menu>
    </div>
    <div class="content">
      <div style="display: inline-block;">
        <div class="box">
            "Explore.... analytics is a form of EXPLORE..... in which line-of-business professionals are enabled and encouraged to perform queries and generate reports on their own, with nominal IT support. Self-service analytics is often characterized by simple-to-use BI tools with basic analytic capabilities and an underlying data model that has been simplified or scaled down for ease of understanding and straightforward data access." Gartner.
        </div>

        <div class="col-sm-12" style="margin-bottom:2%; margin-top:2%; ">
          <a href="http://dsr.dow.com/help/search?t=0&i=1">
            <div class="col-sm-3" style="display: inline-block;">
               <div class="powertools">
                 <h3>Portal</h3>
               </div>
            </div>
          </a>

          <a href="http://dsr.dow.com/help/search?t=0&i=2">
            <div class="col-sm-3" style="display: inline-block;">
               <div class="powertools">
                 <h3>Report</h3>
               </div>
            </div>
          </a>

          <a href="http://dsr.dow.com/help/search?t=0&i=3">
          <div class="col-sm-3" style="display: inline-block;">
             <div class="powertools">
               <h3>Dashboard</h3>
             </div>
          </div>
         </a>

         <a href="http://dsr.dow.com/help/search?t=0&i=4">
          <div class="col-sm-3" style="display: inline-block;">
             <div class="powertools">
               <h3>Storybuilder</h3>
             </div>
          </div>     
        </a>
      </div>

      <div class="col-sm-12" style="margin-bottom:2%; margin-top:2%; ">

        <a href="http://dsr.dow.com/help/search?t=0&i=5">
          <div class="col-sm-3" style="display: inline-block;">
             <div class="powertools">
               <h3>MiniApps</h3>
             </div>
          </div>
       </a>

        <a href="http://dsr.dow.com/help/search?t=0&i=6">
          <div class="col-sm-3" style="display: inline-block;">
             <div class="powertools">
               <h3>Tableu</h3>
             </div>
          </div>
        </a>

        <a href="http://dsr.dow.com/help/search?t=0&i=7">
          <div class="col-sm-3" style="display: inline-block;">
             <div class="powertools">
               <h3>PowerBI</h3>
             </div>
          </div>
        </a>

        <a href="http://dsr.dow.com/help/search?t=0&i=8">
          <div class="col-sm-3" style="display: inline-block;">
             <div class="powertools">
               <h3>AFO</h3>
             </div>
          </div>  
        </a>        
      </div>
        
        </div>
      </div>
    </div>
  </div>
</body>
