
body {
  color: white;
  height: 80vh;
}

/*.button {
  height: 70px;
  width: 200px;
  font-size: 16px;
  font-family: Arial-BoldMT, Arial;
  font-weight: 700;
  margin-left: 10%;
}*/

.buttonsvg{
  margin-left: 10%;
  opacity: 1.0;
}

.link-active a,
.link-active a:hover,
.link-active a:focus {
  background-color: #4189C7;
  color: white;
}

.img {
  background: rgba(119,119,119,0.6); /*only for light background abut dark font*/
  padding-right: 10%;
  padding-left: 10%;
  margin-bottom: 2%;
  margin-top: 2%;
  text-align: justify;
}

.textbox {
  padding-bottom: 2%;
  padding-top: 2%;
  font-size: 18px;
  
}

.back {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70%;
  min-height: 65vh;
}

.nav {
  margin-top: -8%;
}

.material-icons {
  margin-top: 20%;
  font-size: 130px;
  margin-left: 23%;
  color: #777777;
}

.title {
  text-align: center;
  padding-top: 2%;
  font-size: 25px;
}

#card-container {
  display: flex;
  flex-flow: row wrap;
}

.background-image {
  margin-bottom: 40%;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
body {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}

.fostrap-logo {
  width: 100px;
  margin-bottom: 15px
}

h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}

@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}

@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}

@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
}

.card {
  display: block;
  height: 300px;
  line-height: 1.42857143;
  background-color: #EEEEEE;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: box-shadow .25s;
}

  .card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }


  a {
    color: #777777 !important;
    font: bold 16px arial;
  }

.card-content {
  padding: 15px;
  text-align: left;
}

.card-title {
  margin-top: 0px;
  font-weight: 700;
  font-size: 1.65em;
}

  .card-title a {
    color: #000;
    text-decoration: none !important;
  }

.card-read-more {
  border-top: 1px solid #D4D4D4;
}

  .card-read-more a {
    text-decoration: none !important;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase
  }
