<body>
  <div class="back" [ngStyle]="{'background-image': getUrl()}">
    <div class="wrapper" style="margin-left:7%;">
      <div style="display: inline-block;">
        <app-nav-menu></app-nav-menu>
      </div>
      <div class="content">
        <div style="display: inline-block;">
          <div class="box">
            "Explore.... analytics is a form of EXPLORE..... in which line-of-business professionals are enabled and encouraged to perform queries and generate reports on their own, with nominal IT support. Self-service analytics is often characterized by simple-to-use BI tools with basic analytic capabilities and an underlying data model that has been simplified or scaled down for ease of understanding and straightforward data access." Gartner.
          </div>
          <iframe width="640px" height="480px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=Uy_jw3_LCUiWjRzEzMeF_stFCFi9BHJFjlfRR69ljshUQTlCSlBSVDhYTDRGQlhBR1dUVVpBM0xDUCQlQCN0PWcu&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
        </div>
      </div>
    </div>
  </div>
</body>
