<body>
  <div class="back" [ngStyle]="{'background-image': getUrl()}">
    <div class="wrapper" style="margin-left:7%;">
      <div style="display: inline-block;">
        <app-nav-menu></app-nav-menu>
      </div>
      <div class="content">
        <div style="display: inline-block;">
          <div class="box">
            "Explore.... analytics is a form of EXPLORE..... in which line-of-business professionals are enabled and encouraged to perform queries and generate reports on their own, with nominal IT support. Self-service analytics is often characterized by simple-to-use BI tools with basic analytic capabilities and an underlying data model that has been simplified or scaled down for ease of understanding and straightforward data access." Gartner.
          </div>
          <div class="col-sm-12" style="margin-bottom:2%; margin-top:2%; ">
            <div class="col-sm-2" style="display: inline-block;">
              <img style="height:50%; width:100%;" src="assets/images/placeholder.png">
            </div>

            <div class="col-sm-10" style="display: inline-block;">
              <h4>Analytics Consulting, Support, & Training</h4>
              <p>Whether you're working to determine how your business' most recent price changes impact your margins, trying to find out what platforms exist for you to build your latest data algorithm on, need to know how to use Story Builder so you can stop extracting data from DSR, or just need to tell us there's an issue in one of the DSR reports, DSA is here to help.  </p>
            </div>
          </div>
          <div class="col-sm-12" style="margin-bottom:2%; margin-top:2%; ">
            <div class="col-sm-2" style="display: inline-block;">
              <img style="height:50%; width:100%;" src="assets/images/placeholder.png">
            </div>

            <div class="col-sm-10" style="display: inline-block;">
              <h4>Analytics Visualization & Application Development</h4>
              <p>Whether you're using Portfolio Analysis, Business Waterfall, the DSA reporting portal, or the business canvas, DSA offers a full range of consulting, advanced visualization, and application development services to meet evolving needs for our businesses.</p>
            </div>
          </div>
          <div class="col-sm-12" style="margin-bottom:2%; margin-top:2%; ">
            <div class="col-sm-2" style="display: inline-block;">
              <img style="height:50%; width:100%;" src="assets/images/placeholder.png">
            </div>

            <div class="col-sm-10" style="display: inline-block;">
              <h4>Advanced Analytics- Modeling & Algorithm Support</h4>
              <p>Whether you're trying find meaningful patterns in customer-product data, analyze social media sentiment for your (or competitor's) product, leverage an envelope optimization model for strategic planning, forecast costs, evaluate economic & market insights, or simulate a variety of decision options utilizing what-if analysis, DSA has a full team dedicated to providing solutions that may not exist to solve the most challenging business problems of today, and tomorrow.  </p>
            </div>
          </div>
          <div class="col-sm-12" style="margin-bottom:2%; margin-top:2%; ">
            <div class="col-sm-2" style="display: inline-block;">
              <img style="height:50%; width:100%;" src="assets/images/placeholder.png">
            </div>

            <div class="col-sm-10" style="display: inline-block;">
              <h4>Data Platforms Service & Support</h4>
              <p>Whether you have an IHS data set you want made available internally, need data staged to use in Tableau/Power BI, require data model development in DSR, or need to know how Celonis can help with work process mining, DSA has the tools and expertise to help.  </p>
            </div>
          </div>
          <div class="col-sm-12" style="margin-bottom:2%; margin-top:2%; ">
            <div class="col-sm-2" style="display: inline-block;">
              <img style="height:50%; width:100%;" src="assets/images/placeholder.png">
            </div>

            <div class="col-sm-10" style="display: inline-block;">
              <h4>Information Quality- Need detail</h4>
              <p>Whether you have an IHS data set you want made available internally, need data staged to use in Tableau/Power BI, require data model development in DSR, or need to know how Celonis can help with work process mining, DSA has the tools and expertise to help.  </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>
