<body>
  <div class="back" [ngStyle]="{'background-image': getUrl()}">
    <div class="wrapper" style="margin-left:7%;">
      <div style="display: inline-block;">
        <app-nav-menu></app-nav-menu>
      </div>
      <div class="content">
        <div style="display: inline-block;">
          <div class="box">
            "Explore.... analytics is a form of EXPLORE..... in which line-of-business professionals are enabled and encouraged to perform queries and generate reports on their own, with nominal IT support. Self-service analytics is often characterized by simple-to-use BI tools with basic analytic capabilities and an underlying data model that has been simplified or scaled down for ease of understanding and straightforward data access." Gartner.
          </div>

          <div class="col-sm-12" style="margin-bottom:2%; margin-top:2%; ">
            <div class="col-sm-4" style="display: inline-block;">
              <img style="height:40%; width:80%;" src="assets/images/placeholder.png">
              <h4>Ipsum Lepsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor sem dolor, ac mollis sapien lobortis vel.</p>
            </div>
            <div class="col-sm-4" style="display: inline-block;">
              <img style="height:40%; width:80%;" src="assets/images/placeholder.png">
              <h4>Ipsum Lepsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor sem dolor, ac mollis sapien lobortis vel.</p>
            </div>
            <div class="col-sm-4" style="display: inline-block;">
              <img style="height:40%; width:80%;" src="assets/images/placeholder.png">
              <h4>Ipsum Lepsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor sem dolor, ac mollis sapien lobortis vel.</p>
            </div>
            <div class="col-sm-4" style="display: inline-block;">
              <img style="height:40%; width:80%;" src="assets/images/placeholder.png">
              <h4>Ipsum Lepsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor sem dolor, ac mollis sapien lobortis vel.</p>
            </div>
            <div class="col-sm-4" style="display: inline-block;">
              <img style="height:40%; width:80%;" src="assets/images/placeholder.png">
              <h4>Ipsum Lepsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor sem dolor, ac mollis sapien lobortis vel.</p>
            </div>
            <div class="col-sm-4" style="display: inline-block;">
              <img style="height:40%; width:80%;" src="assets/images/placeholder.png">
              <h4>Ipsum Lepsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor sem dolor, ac mollis sapien lobortis vel.</p>
            </div>
            <div class="col-sm-4" style="display: inline-block;">
              <img style="height:40%; width:80%;" src="assets/images/placeholder.png">
              <h4>Ipsum Lepsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor sem dolor, ac mollis sapien lobortis vel.</p>
            </div>
            <div class="col-sm-4" style="display: inline-block;">
              <img style="height:40%; width:80%;" src="assets/images/placeholder.png">
              <h4>Ipsum Lepsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor sem dolor, ac mollis sapien lobortis vel.</p>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</body>
